<style>
    .style-button {}
</style>

<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <img src="../../images/logo.png" alt="">
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>

                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>

                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>


                <% } else { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">
                            <svg style="width: 22px; height: 22px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                              </svg></a>
                    </li>
                    <li class="main-header__item">
                        <form action="/logout" method="post">
                            <button class=" <%= path === '/logout' ? 'active' : '' %>"
                                type="submit">Logout</button>
                        </form>
                    </li>
                    <% } %>
        </ul>
    </nav>
</header>

<% if(isAuthenticated){ %>
    <div class="header">
        <ul class="main-header__items-list">
            <li class="main-header__items">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="main-header__items">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>


            <li class="main-header__items">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="main-header__items">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
                    Product
                </a>
            </li>
            <li class="main-header__items">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
            <!-- <li class="main-header__items">
                <a class="<%= path === '/variety' ? 'active' : '' %>" href="/admin/variety">variety
                </a>
            </li> -->

        </ul>
    </div>
    <% } %>

        <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
            </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
            </a>
                </li>
            </ul>
        </nav>