<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <style>
    main {
      padding: 1rem;
      margin: auto;
      border: 3px solid #47126b;
      width: 60%;
      margin-left: 32%;
      margin-top: 110px;
      box-shadow: 0 2px 8px;
      margin-bottom: 3%;
      border-radius: 12px;
    }
  </style>
  <main class="centered">
    <div class="image">
        <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" />
      </div>
      
      <div class="content">

    <h1><%= product.title %></h1>
    <hr />
    <h2>Rs. <%= product.price %></h2>
    <p><%= product.description %></p>
    <%- include('../includes/add-to-cart.ejs') %>
</div>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
